/Data/CheckPoints/
/Data/Datasets/Input/AirQuality/
/Data/Datasets/Input/CustomerPersonalityAnalysis/
/Data/Datasets/Input/DiabetesHealthIndicators/
/Data/Datasets/Input/DryBeanDataset/
/Data/Datasets/Input/LiverCirrhosis/
/Data/Datasets/Input/MobilePriceClassification/
/Data/Datasets/Input/Mushrooms/
/Data/Datasets/Input/ObesityDataset/
/Data/Datasets/Input/OnlineDataset/
/Data/Datasets/Input/PimaIndiansDiabetes/
/Data/Datasets/Input/Salaries2023/
/Data/Datasets/Input/StudentPerformance/
/Data/Datasets/Input/Yeast/
